.fc-daygrid-day {
  background-color: rgb(133,131,123);
  border-radius: 10px;
  cursor: pointer;
}

.fc-event {
  background-color: rgb(133,131,123) !important;
  border:#cfcdc0 !important;
  color: black !important;
  border-radius: 10px !important;
  font-weight: bold;
  width: 100px;
  text-align:center;
  height:35px;
  font-size: large;


}

.fc-daygrid-event {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

